+contact-item("at", "clement.chaumel@gmail.com")
+contact-item("map-marker", "Toulouse, France")
+contact-item("phone", "(+33)6 01 71 56 30")
+contact-item("github", "<a href='https://github.com/ClementChaumel' target='_blank'>@ClementChaumel</a>")
