+education-item("2017", null, "Master’s ​degree ​in ​software ​development", "UNIVERSITÉ ​PAUL ​SABATIER", "Toulouse, ​France", null, "Software ​architecture, ​Mobile ​development ​and ​web ​development. Project ​management ​and ​agile ​methods.")
