// mixin experiences-item(from_date, to_date, title, place, city, description, ...details)

+experiences-item("2018", "now", "TotallyMoney", "UK", "London", "Front-end engineer", "Designed and built a modern web app from the ground up following the JAMstack principle using NextJS", "Worked hand in hand with designers on a full-scale rebrand and on the creation of a design system and component library", "Got up to speed quickly on multiple codebases with different stacks", "Maintained and expanded a native app using React Native")  
+experiences-item("2016", "2018", "Docdoku", "France", "Toulouse", "Front-end engineer", "Full-stack ​developer ​responsible ​for ​UI ​implementation ​with ​AngularJS and ​backend ​development ​with ​Meteor.")
+experiences-item("2016", null, "Efficit", "France", "Toulouse", 'Developper',  "Development ​of ​hybrid ​Android ​and ​Java ​application ​and ​creating ​and implementing ​use ​cases ​for ​a ​new ​framework. ​Done remotely.")
