+skill-section("Languages", "Typescript", "Javascript ES6+", "HTML / CSS")
+skill-section("Testing", "Jest", "Testing Library", "Cypress", "TDD")
+skill-section("Frameworks / tools", "React (w/ hooks)", "React Native", "NextJS", "Redux", "CSS-in-JS")
+skill-section("CI / DevOps", "CircleCI", "AWS", "Jenkins", "Docker", "Git / Github" )
+skill-section("Other", "French / English", "Agile", "Jira" )