include mixins.pug

#background
    #header
        include ../../content/title.pug

    #content

        .margin-left
        #intro
            include ../../content/intro.pug

        #timelines
            .title-wrapper
                .angle
                .separator
                h2 Experience

            include ../../content/experiences.pug

            .title-wrapper
                .angle
                .separator
                h2 Education

            include ../../content/education.pug

            .filler


        #sidebar
            .title-wrapper
                h2 Contact
                .separator
            #contact-items
                include ../../content/contact.pug
            .title-wrapper 
                h2 Skills
                .separator
            #skills-items
                include ../../content/skills.pug
            .filler
        .margin-right

style
    include:scss cv.scss
