@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:100,300,400,500,600,700,900');

$custom-serif: 'Libre Baskerville', serif;

$custom-sans-serif: 'Libre Franklin', sans-serif;

$primary-color: #b4e7f8;
